AddType application/vnd.google-earth.kml+xml .kml
AddType application/vnd.google-earth.kmz .kmz
AddType application/atom+xml .atom
AddType application/json .json

<VirtualHost _default_:*>
  {% if pleiades_ssl_vhost is defined %}
  ServerName {{pleiades_ssl_vhost}}
  {% else %}
  ServerName pleiades.stoa.org
  {% endif %}
  {% if pleiades_ssl_vhost is defined and ssl_certificate is defined and ssl_certificate.stat.exists %}
  RewriteEngine On
  RewriteCond "%{HTTP_HOST}" "^pleiades\."
  RewriteCond "%{SERVER_PROTOCOL}" "!^HTTPS"
  RewriteRule ^(.*)$ https://{{pleiades_ssl_vhost}}$1 [R=301,L]
  {% endif %}
  RequestHeader set X-Forwarded-Proto "http"
  include /etc/apache2/conf-available/pleiades-server.conf

</VirtualHost>

{% if pleiades_ssl_vhost is defined and ssl_certificate is defined and ssl_certificate.stat.exists %}
<VirtualHost *:443>
  ServerName {{pleiades_ssl_vhost}}
  RewriteEngine On
  SSLEngine on
  SSLCipherSuite AES256+EECDH:AES256+EDH
  SSLProtocol All -SSLv2 -SSLv3
  SSLHonorCipherOrder On
  SSLCompression off
  SSLCertificateFile {{pleiades_cert_file}}
  SSLCertificateChainFile {{pleiades_chained_file}}
  SSLCertificateKeyFile {{pleiades_key_file}}
  RequestHeader set "X-Real-Ip" expr=%{REMOTE_ADDR}
  RequestHeader set X-Forwarded-Proto "https"
  RequestHeader set "X-Http-Version" "%{SERVER_PROTOCOL}s"
  include /etc/apache2/conf-available/pleiades-server.conf
</VirtualHost>
{% endif %}
